# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master
- main

pool:
  vmImage: 'windows-2019'

steps:
- task: NuGetCommand@2
  displayName: 'NuGet restore'
- task: MSBuild@1
  displayName: 'Build solution **/*.sln'
  inputs:
    configuration: Release
  env:
    System_AccessToken: $(System.AccessToken)
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: PostmanWrapper.Common drop'
  inputs:
    PathtoPublish: PostmanWrapper/Common
    ArtifactName: 'PostmanWrapper.Common drop'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: PostmanWrapper.Wrapper drop'
  inputs:
    PathtoPublish: PostmanWrapper/Wrapper
    ArtifactName: 'PostmanWrapper.Wrapper drop'
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: PostmanDrop'
  inputs:
    PathtoPublish: PostmanTest
    ArtifactName: PostmanDrop
